.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  min-height: 300px;
  width: 97%;
  max-width: 450px;
  background-color: var(--color-card);
  margin: 0px auto;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 10px 7px var(--color-card-shaddow);
  list-style: none;
  text-align: center;
}

.card__bookmark-icon {
  position: absolute;
  top: -15px;
  right: 25px;
  /* height: fit-content !important; */
  background-color: blue;
  border: none;
}

.bookmark-icon {
  fill: red;
  transform: scale(2);
}

.card__question {
  font-size: 1.2rem;
  margin-top: 35px;
}

.card__answer-button {
  padding: 0.5rem;
  background-color: var(--color-background);
  border-radius: 0.5rem;
  font-size: 1.3rem;
}

.card__answer-text {
  font-size: 1rem;
  background-color: var(--color-background);
  padding: 50px;
  width: 95%;
  border-radius: 10px;
  transform: scale(0);
  transition: 0.5s ease;
}

.card__answer-text--enter {
  transform: scale(1);
}

.card__tags-list {
  flex-wrap: wrap;
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.card__tag {
  background-color: var(--color-background);
  border-radius: 5px;
  padding: 3px;
  font-size: 1rem;
  list-style: none;
  font-family: "Lucida Console", "Courier New", monospace;
}

/* Dark Mode */
.card--darkMode {
  background-color: var(--color-card-darkMode);
  color: var(--color-background);
  box-shadow: 12px 12px 7px var(--color-card-shaddow-darkMode);
}

.card__bookmark-icon--darkMode {
  filter: invert(100%);
}

.card__answer-text--darkMode {
  background-color: var(--color-background-darkMode);
}

.card__tag--darkMode {
  background: var(--color-background-darkMode);
}
