.navbar {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 10px 0 10px 0;
  background-color: var(--color-sticky);
}

.navbar li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.navbar__icon {
  height: 100%;
  /* fill: red; */
  filter: invert(100%);
}

.navbar a {
  height: 2.5rem;
}

.navbar .current {
  border-bottom: solid 3px var(--color-card);
}
