.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-sticky);
  margin: 0;
  padding: 10px;
  color: var(--color-background);
}

.header__main {
  font-size: 35px;
}

.header__sub {
  margin-top: 5px;
  width: 100%;
  background-color: var(--color-sticky-sub);
  box-shadow: 5px 5px 5px var(--color-sticky-sub-shaddow);
}
