.navbar {
  position: sticky;
  bottom: 0;
  z-index: 10;
  width: 100%;
}

.navbar__list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 10px 0 10px 0;
  background-color: var(--color-sticky);
}

.navbar__list li {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.navbar__icon {
  height: 100%;
  filter: invert(100%);
}

.navbar__list a {
  height: 2.5rem;
}

.navbar__list .current {
  border-bottom: solid 3px var(--color-card);
}
