.profile__info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}

.profile__image {
  width: 100%;
  min-width: 150px;
  border-radius: 20%;
}

@media (min-width: 1024px) {
  .profile__image {
    width: 300px;
    border-radius: 20%;
  }
}

.profile__header {
  margin-bottom: 2rem;
}

.profile__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  row-gap: 1.2rem;
  column-gap: 0.7rem;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .profile__details {
    font-size: 1.1rem;
  }
}

.details__attr {
  grid-column: 1;
  font-weight: bold;
}

.details__value {
  grid-column: 2;
}

.settings__header {
  margin-bottom: 0.6rem;
  padding-left: 1.5rem;
}

.settings__container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  gap: 15px;
  padding: 20px;
  background-color: var(--color-card);
  border-radius: 1rem;
}

.settings__container--darkMode {
  background-color: var(--color-card-darkMode);
}

.settings__attr {
  grid-column: 1;
  align-self: center;
  width: 100%;
  text-align: center;
  padding: 3px;
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .settings__attr {
    font-size: 1.3rem;
  }
}

.settings__operator {
  grid-column: 2;
  justify-self: end;
  right: 1rem;
}

.settings__container button {
  background-color: aliceblue;
  border-radius: 5px;
  box-shadow: 2px 2px 5px var(--color-card-shaddow);
}
